{% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="contenido_principal">
  <div id="imagen1"></div>
  <article id="presentacion">
    <h1 id="titulo">Adopta una Mascota</h1>
    <p id="contenido_presentacion">Es un website con fines de reubicación de mascotas que se encuentran en condición de calle. Queremos darle la posibilidad a estos nobles seres, de ser amados y cuidados por su familia de acogida,
          la cual disfrutará de la gratitud y el amor incondicional del nuevo miembro de la familia. 
          Es de suma importancia concientizar a la sociedad sobre la tenencia responsable de mascotas,
          que abarca: castración, cuidados médicos, alimentación y bienestar emocional. A continuación te compartimos un poco de incentivo: Las mascotas ayudan a disminuir el estrés, te mantienen activo, ayudan a tener amigos y sanan el corazón.
    </p>
  </article>
      
  <div id="video1"><video src="{% static 'video/video_perro.mp4' %}" autoplay muted loop type="video/mp4"></video></div>

  <article id="contenedor_cita">
      <p>“la grandeza de una nación y su progreso moral pueden ser juzgados por la forma en que se trata a sus animales”
          <h4>Mahatma Gandhi</h4>
      </p>    
  </article>

  <div id="video2"><video src="{% static 'video/video_gato.mp4' %}" autoplay muted loop type="video/mp4"></video></div>
</section>
        
  <div class="contenedor">
    <h3>Buscando un hogar</h3>
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    
    <div class="tarjeta_principal">
        
      {% for row in slider %}
      <div class="tarjetas">
        {% for mascota in row %}

        <div class="tarjeta">
          <div class="contenido">
            <div class="img">
              <a href="/detalle/{{mascota.id}}"><img src="{{mascota.foto.url}}" alt="cachorro marrón"></a>
            </div>
            <div class="details">
              <div class="nombre">{{mascota.nombre}}</div>
            </div>
          </div>
        </div>
      
        {% endfor %}
      </div>
      {% endfor %}

    </div>

  
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>

  </div>
{% endblock %}